//== Colors
//
//## Gray and brand colors for use across site.

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default;
$gray-dark:              #333 !default;
$gray:                   #777 !default;
$gray-light:             #AEA79F !default;
$gray-lighter:           lighten($gray-base, 93.5%) !default;

$white:					 #fff !default;
$green: 				 #1abc9c !default;
$blue: 					 #3498db !default;
$purple: 				 #9b59b6 !default;
$orange: 				 #e67e22 !default;

$brand-primary:         #E95420 !default;
$brand-success:         #38B44A !default;
$brand-info:            #772953 !default;
$brand-warning:         #EFB73E !default;
$brand-danger:          #DF382C !default;

$progress-color:           		#eeeeee !default;
$progress-indicator-color: 		#6666ff !default;
$progress-animation-duration: 	2s !default;



$banner:				#4f4f4f !default;


// Breakpoints
// -------------------------
$reflex-xs: 480px !default;
$reflex-sm: 768px !default;
$reflex-md: 992px !default;
$reflex-lg: 1200px !default;
$reflex-xlg: 1600px !default;