@font-face {
  font-family: 'Open Sans';
  src: url('OpenSans.eot');
  src: url('OpenSans.eot?#iefix') format('embedded-opentype'),
       url('OpenSans.woff2') format('woff2'),
       url('OpenSans.woff') format('woff'),
       url('OpenSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}