.progress {
  
  background-color: $progress-color;
  
  &__indicator {
    
    &:before {
      background: $progress-indicator-color;
      animation: grow-horizontal $progress-animation-duration ease-out;
    }
  }
  
  &__label {
    color: white;
  }
  
  &--vertical {
    
    .progress__indicator {
      
      &:before {
        bottom: 0;
        animation-name: grow-vertical;
      }
    } 
  }
}