.banner {
	background: $banner;
	color: $white;

	a {
		color: $white;
		text-decoration: none;
	}

	&--dark-1 {
		background: rgba(0, 0, 0, 0);
	}

	&--dark-2 {
		background: rgba(0, 0, 0, 0.1);

		transition: background 0.5 linear;
		&:hover {
			background:  rgba(0, 0, 0, 0.5);
		}
	}

	&--dark-3 {
		background: rgba(0, 0, 0, 0.2);
	}

	&--dark-4 {
		background: rgba(0, 0, 0, 0.3);
		transition: background 0.5 linear;
		&:hover {
			background:  rgba(0, 0, 0, 0.5);
		}
	}

	&--green {
		background: $green;
		transition: background 0.5 linear;
		&:hover {
			background: darken($green, 5%);
		}
	}

	&--blue {
		background: $blue;
		transition: background 0.5 linear;
		&:hover {
			background: darken($blue, 5%);
		}
	}

	&--purple {
		background: $purple;
		transition: background 0.5 linear;
		&:hover {
			background: darken($purple, 5%);
		}
	}

	&--orange {
		background: $orange;
		transition: background 0.5 linear;
		&:hover {
			background: darken($orange, 5%);
		}
	}

}