.header--blue {
	background: $blue;
	color: $white;
}

.header--green {
	background: $green;
	color: $white;
}

.header--purple {
	background: $purple;
	color: $white;
}

.header--orange {
	background: $orange;
	color: $white;
}