.timeline {

  &:before {
    background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  }

  &--flag {
    background: $white;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    font-weight: 600;
    &::before {
      margin-top: -10px;
      background: #fff;
      border-radius: 10px;
      border: 4px solid $green;
    }
  }

  &--time {
    color: $green;
    background: $gray-lighter;
  }
}