/**
 * Text alignment
 */
.text--left     { text-align:left  !important; }
.text--center   { text-align:center!important; }
.text--right    { text-align:right !important; }


/**
 * Font weights
 */
.weight--light      { font-weight:300!important; }
.weight--normal     { font-weight:400!important; }
.weight--semibold   { font-weight:600!important; }

/**
 * Max widths
 */

.max-width--lg		{ max-width: $reflex-lg; margin: 0 auto; }

/**
 * Add/remove margins
 */
.push           { margin:       $inuit-global-spacing-unit!important; }
.push--top      { margin-top:   $inuit-global-spacing-unit!important; }
.push--right    { margin-right: $inuit-global-spacing-unit!important; }
.push--bottom   { margin-bottom:$inuit-global-spacing-unit!important; }
.push--left     { margin-left:  $inuit-global-spacing-unit!important; }
.push--ends     { margin-top:   $inuit-global-spacing-unit!important; margin-bottom:$inuit-global-spacing-unit!important; }
.push--sides    { margin-right: $inuit-global-spacing-unit!important; margin-left:  $inuit-global-spacing-unit!important; }

.push-half          { margin:       $inuit-global-spacing-unit-small!important; }
.push-half--top     { margin-top:   $inuit-global-spacing-unit-small!important; }
.push-half--right   { margin-right: $inuit-global-spacing-unit-small!important; }
.push-half--bottom  { margin-bottom:$inuit-global-spacing-unit-small!important; }
.push-half--left    { margin-left:  $inuit-global-spacing-unit-small!important; }
.push-half--ends    { margin-top:   $inuit-global-spacing-unit-small!important; margin-bottom:$inuit-global-spacing-unit-small!important; }
.push-half--sides   { margin-right: $inuit-global-spacing-unit-small!important; margin-left:  $inuit-global-spacing-unit-small!important; }

.flush          { margin:       0!important; }
.flush--top     { margin-top:   0!important; }
.flush--right   { margin-right: 0!important; }
.flush--bottom  { margin-bottom:0!important; }
.flush--left    { margin-left:  0!important; }
.flush--ends    { margin-top:   0!important; margin-bottom:0!important; }
.flush--sides   { margin-right: 0!important; margin-left:  0!important; }


/**
 * Add/remove paddings
 */
.soft           { padding:       $inuit-global-spacing-unit!important; }
.soft--top      { padding-top:   $inuit-global-spacing-unit!important; }
.soft--right    { padding-right: $inuit-global-spacing-unit!important; }
.soft--bottom   { padding-bottom:$inuit-global-spacing-unit!important; }
.soft--left     { padding-left:  $inuit-global-spacing-unit!important; }
.soft--ends     { padding-top:   $inuit-global-spacing-unit!important; padding-bottom:$inuit-global-spacing-unit!important; }
.soft--sides    { padding-right: $inuit-global-spacing-unit!important; padding-left:  $inuit-global-spacing-unit!important; }

.soft-half           { padding:       $inuit-global-spacing-unit-small!important; }
.soft-half--top      { padding-top:   $inuit-global-spacing-unit-small!important; }
.soft-half--right    { padding-right: $inuit-global-spacing-unit-small!important; }
.soft-half--bottom   { padding-bottom:$inuit-global-spacing-unit-small!important; }
.soft-half--left     { padding-left:  $inuit-global-spacing-unit-small!important; }
.soft-half--ends     { padding-top:   $inuit-global-spacing-unit-small!important; padding-bottom:$inuit-global-spacing-unit-small!important; }
.soft-half--sides    { padding-right: $inuit-global-spacing-unit-small!important; padding-left:  $inuit-global-spacing-unit-small!important; }

.hard           { padding:       0!important; }
.hard--top      { padding-top:   0!important; }
.hard--right    { padding-right: 0!important; }
.hard--bottom   { padding-bottom:0!important; }
.hard--left     { padding-left:  0!important; }
.hard--ends     { padding-top:   0!important; padding-bottom:0!important; }
.hard--sides    { padding-right: 0!important; padding-left:  0!important; }