.progress {
  
  position: relative;
  
  &__indicator {
    position: absolute;
    height: 100%;
    
    &:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }
  
  &__label {
    position: absolute;
  }
  
  &--vertical {
    
    .progress__indicator {
      width: 100%;
      bottom: 0;
      
      &:before {
        bottom: 0;
      }
    } 
  } 
}

.bar {
  height: 20px;
  width: 50%;
}