.timeline {
  position: relative;
  margin: 0 1em;
  padding: 1em 0;
  list-style-type: none;

  &:before {
    position: absolute;
    top: 0;
    content: ' ';
    display: block;
    width: 6px;
    height: 100%;
    z-index: 5;
  }

  & > li {
    padding: 1em 0;
    &:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
  }

  &--item {
    margin-left: 2em;
  }

  &--flag-wrapper {
    display: inline-block;
  }

  &--flag {
    position: relative;
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: 600;
    &::before {
      position: absolute;
      top: 50%;
      left: -2.2em;
      content: ' ';
      display: block;
      width: 12px;
      height: 12px;
      margin-top: -10px;
      z-index: 10;
    }
  }

  &--desc {
    margin: $inuit-global-spacing-unit $inuit-global-spacing-unit 0 0;
    font-style: italic;
  }

  &--time {
    display: inline-block;
    padding: 4px 6px;
    margin-left: $inuit-global-spacing-unit-tiny;
  }
}