.banner {

	a {
		color: $white;
		text-decoration: none;
		padding: 2em 0;
	}

	&--block {
		min-height: $inuit-global-spacing-unit*5;
		max-height: $inuit-global-spacing-unit*5;
		overflow: hidden;
	}
}